In [10]:
# import cdsapi
# cds = cdsapi.Client(timeout=600, quiet=False, debug=True)
import numpy as np
import os
# import requests
import zipfile
import tarfile
import subprocess
from datetime import date
import xarray as xr
import pandas as pd
import rioxarray
import geopandas as gpd
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats.mstats import theilslopes as sens_slope
from datetime import datetime

from itertools import product
from dask.distributed import wait, progress, Client, LocalCluster
from pathlib import Path
from urllib.request import urlopen
from glob import glob


import warnings
warnings.filterwarnings('ignore', category=RuntimeWarning)

import logging
logger = logging.getLogger()
logger.setLevel(logging.CRITICAL)

# Define directories
ddir = Path('/data/climate_migration/data/era5/')
disdir = Path('/data/climate_migration/data/disasters/')
griddir = Path('/data/climate_migration/shp/global_sociodem_grids/')
tmpdir = ddir / 'tmp'
zsdir = ddir / 'adm1_zonestats'
shpdir = Path('/data/climate_migration/shp/')
gfdrawdir = shpdir / 'global_flood_database' / 'gfd_v1_4'
gfd_fdd_dir = shpdir / 'global_flood_database' / 'flood_duration_025deg'
gfd_fdd_popwtd_dir = shpdir / 'global_flood_database' / 'flood_duration_popwtd_025deg'
gfd_fdd_agwtd_dir = shpdir / 'global_flood_database' / 'flood_duration_agwtd_025deg'
shptmpdir = shpdir / 'tmp'
hrdir = ddir / 'hourly'
daydir = ddir / 'daily'
wkdir = ddir / 'weekly'
mondir = ddir / 'monthly'
yrdir = ddir / 'yearly'

# Define file paths
ADM1 = shpdir / 'gadm36_1.shp'
LANDSCAN = griddir / 'landscan-global-2020.tif'
WORLDCOVER = griddir / 'worldcover_2020_cropland_resampled_LSres_cultivated_km2.tif'
LANDSCAN_ERA5res = griddir / 'landscan-global-2020_ERA5grid.tif'
WORLDCOVER_ERA5res = griddir / 'worldcover_2020_cropland_resampled_025deg_cultivated_km2.tif'
ERA5GRID = shpdir / 'ERA5_025deg_globalgrid.shp'
EMDAT_GC_ADM = shpdir / 'emdat_nat_complex_disasters_adm1_int_2000_2022.gpkg'
SPI6 = mondir / 'spei' / 'ERA5_monthly_1980_2018_calib_1980_2018_spei_pearson_06.nc'
SPI12 = mondir / 'spei' / 'ERA5_monthly_1980_2018_calib_1980_2018_spei_pearson_12.nc'
SPI24 = mondir / 'spei' / 'ERA5_monthly_1980_2018_calib_1980_2018_spei_pearson_24.nc'

# NOTE: including current year can create some weirdness at the tail end of the time-series
SPI_SCALES = [6,12,24]
allyears = [
    '2016','2017','2018',
    '2019','2020','2021'
]

allmonths = [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
        ]

alldays = [
            '01', '02', '03',
            '04', '05', '06',
            '07', '08', '09',
            '10', '11', '12',
            '13', '14', '15',
            '16', '17', '18',
            '19', '20', '21',
            '22', '23', '24',
            '25', '26', '27',
            '28', '29', '30',
            '31',
        ]

alltimes = [
            '00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00',
            '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00',
            '21:00', '22:00', '23:00',
        ]

all_yrmon = list(product(allyears,allmonths))[:-6]
n_yrmon = len(all_yrmon)
all_ymd = list(product(allyears,allmonths,alldays))
all_ym = list(product(allyears,allmonths))

AVGCLIMATE_Y0 = 1980
AVGCLIMATE_Y1 = 2018
AVGCLIMATE_YRS = [str(y) for y in np.arange(AVGCLIMATE_Y0,AVGCLIMATE_Y1+1)]
AVGCLIMATE_YMD = list(product(AVGCLIMATE_YRS, allmonths, alldays))

GFDYRS = np.arange(2000,2019)

import gc

In [2]:
# View dashboard by forwarding remote port 7777 to local port (e.g. 9000), open localhost:9000 in browser
cluster = LocalCluster(
    dashboard_address = "localhost:45285",
    n_workers = 60, 
    local_directory = "/data/tmp/snair/tmp/dask-worker-space"
)
client = Client(cluster)

In [4]:
def top3(da, var_name, calc_dim ='year', square = False):

    def ufunc_top3(y, square = False):
        x = np.sort(y)[-3:]
        if square:
            x = x**2
        return np.array([np.mean(x)])

    da_top3 = xr.apply_ufunc(
        ufunc_top3,  
        da,
        input_core_dims=[[calc_dim]],
        vectorize=True,
        dask="parallelized",
        output_dtypes=[da.dtype], 
        kwargs={'square': square}
    ).compute()
    
    return da_top3

def get_yearly_top3(year, df= df_clim, date_dim = 'year'):
    """
    Function to get the hottest 3 months in a year
    Returns a netcdf file that contains 3 months for each year. (721 X 1440 X 3)
    """
    
    results = {}
    for v, sq in [('t2m', False),
                  ('t2m', True)]:
        sl = top3(df[v].sel(year = year), v, 'year', square = sq)
        if sq:
            sl = sl.rename('t2m_sq')
            v = 't2m_sq'
        results[v] = sl

    sl_final = xr.combine_by_coords(results.values())
    sl_final = sl_final.assign_coords(year = year)
    return sl_final

#### Read Climate Data

In [ ]:
df_clim_tp = xr.open_dataset(str(mondir / 'tp' / 'ERA5_tp_monthly_1959_2021_v1.nc'))
df_clim_tp = df_clim_tp.sel(time = slice("1989-01-01", '2018-12-01'))
years = df_clim_tp['time'].dt.year.values
df_clim_tp = df_clim_tp.assign_coords(year = ('time',years)).swap_dims({'time':'year'})

df_clim = xr.open_dataset(str(mondir / '2t' / 'ERA5_2t_monthly_1959_2021_v1.nc'))
df_clim = df_clim.sel(time = slice("1989-01-01", '2018-12-01'))
years = df_clim['time'].dt.year.values
df_clim = df_clim.assign_coords(year = ('time',years)).swap_dims({'time':'year'})

#### Get the hottest three months in each year

In [7]:
#This takes a bit of time to run -- probably want to rewrite using client.map

results = []
for y in range(1989, 2019):
    ## 30 years
    results.append(get_yearly_top3(y))
    
df_final = xr.concat(results, dim = 'year')

In [8]:
print(len(results))

30

#### Aggregate at different time scales

In [11]:
dfs = []
for start, end in [
    (1999, 2018), 
    (2009, 2018), 
    (1995, 2014)
]:
    df_temp = df_final.sel(year = slice(start, end))
    df_temp = df_temp.mean('year')
    df_temp = df_temp.rename({'t2m':f't2m_{start-1}_{end}_max3', 't2m_sq':f't2m_sq_{start-1}_{end}_max3'})
    
    df_normals = df_clim.sel(year=slice(start, end))
    df_normals = df_normals.mean('year')
    df_normals = df_normals.rename({'t2m':f't2m_Avg_{start-1}_{end}', 't2m_sq':f't2m_sq_Avg_{start-1}_{end}'})
    
    df_temp = df_temp.merge(df_normals)
    
    df_precip = df_clim_tp.sel(year = slice(start, end))
    df_precip  =df_precip.mean('year')
    df_precip = df_precip.rename({'tp':f'tp_Avg_{start-1}_{end}', 'tp_sq':f'tp_sq_Avg_{start-1}_{end}'})
    
    df_temp  = df_temp.merge(df_precip)
    
    dfs.append(df_temp)
    df_temp = None
    df_normals = None
    df_precip = None
    
    
df_main = xr.merge(dfs)

gc.collect()

1375

#### Add in Degree Days

##### To do: add in degree days construction code from Nick's script

In [13]:
dfs = []
for dd_cutoff in [23, 25]:
    print(dd_cutoff)
    df_dd = xr.open_dataset(f"/data/climate_migration/data/era5/monthly/degree_days/ERA5_dd_{dd_cutoff}_monthly_1980_2021.nc")
    for start, end in [(1999, 2018), (2009, 2018)]:
        print(start, end)
        df_dd_temp = df_dd.sel(date= slice(np.datetime64(f"{start}-01-01"), np.datetime64(f"{end}-12-01")))
        df_dd_temp = df_dd_temp.mean('date')
        df_dd_temp = df_dd_temp.rename({x:x+f'_Avg_{start-1}_{end}' for x in df_dd_temp.data_vars})
        
        dfs.append(df_dd_temp)

23
1999 2018
2009 2018
25
1999 2018
2009 2018

#### Merge everything together, and save

In [14]:
df_dd_main = xr.merge(dfs)
df_dd_main = df_dd_main.rename({'latitude':'lat', 'longitude':'lon'})
df_all = xr.merge([df_main, df_dd_main])
df_all = df_all.rename({v:v.replace('t2m_', '') for v in df_all.data_vars if 'dd' in v})
df_all.to_netcdf("/data/climate_migration/data/master/climate_master_monthly_v4.nc")
df_all.to_dataframe().to_csv("/data/climate_migration/data/master/climate_master_monthly_v4.csv")

In [240]:
####

In [251]:
# df_clim = xr.open_dataset(str(mondir / '2t' / 'ERA5_2t_monthly_1959_2021_v1.nc'))
# df_clim = df_clim.sel(time = slice("1995-01-01", '2014-12-01'))
# years = df_clim['time'].dt.year.values
# df_clim = df_clim.assign_coords(year = ('time',years)).swap_dims({'time':'year'})
# df_clim = df_clim.mean('year')
# df_clim.to_netcdf("/data/climate_migration/data/master/temp_1995_2015.nc")

In [257]:
# command2 = ['~/bin/exactextract', 
#     f'-r "tas:NETCDF:/data/climate_migration/data/master/temp_1995_2015.nc:t2m"', 
#     '-r "pop:/data/climate_migration/shp/global_sociodem_grids/landscan-global-2020.tif"', 
#     '-p /data/climate_migration/shp/gadm36_1.shp -f GID_1', 
#     f'-s "t2m_Avg_1995_2015_pop_mean=weighted_mean(tas,pop)"', 
#     f'-o /data/climate_migration/data/master/gadm1/t2m_Avg_1995_2015_mean_popweighted.csv']

# os.system(' '.join(command2))

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

0

In [16]:
for c in ['t2m_1998_2018_max3', 't2m_Avg_1998_2018', 
          't2m_2008_2018_max3', 't2m_Avg_2008_2018', 
          't2m_1994_2014_max3', 't2m_Avg_1994_2014']:

    print(c)
    command2 = ['~/bin/exactextract', 
        f'-r "tas:NETCDF:/data/climate_migration/data/master/climate_master_monthly_v4.nc:{c}"', 
        '-r "pop:/data/climate_migration/shp/global_sociodem_grids/landscan-global-2020.tif"', 
        '-p /data/climate_migration/shp/gadm36_1.shp -f GID_1', 
        f'-s "{c}_pop_mean=weighted_mean(tas,pop)"', 
        f'-o /data/climate_migration/data/master/gadm1/{c}_mean_popweighted.csv']
    
    os.system(' '.join(command2))

t2m_1998_2018_max3

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

t2m_Avg_1998_2018

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

t2m_2008_2018_max3

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

t2m_Avg_2008_2018

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

t2m_1994_2014_max3

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

t2m_Avg_1994_2014

Warning 1: No UNIDATA NC_GLOBAL:Conventions attribute

In [19]:
from functools import reduce
cols = ['t2m_1998_2018_max3', 't2m_Avg_1998_2018', 't2m_2008_2018_max3', 't2m_Avg_2008_2018', 't2m_1994_2014_max3', 
        't2m_Avg_1994_2014']
inpath = "/data/climate_migration/data/master/gadm1"
dfs = [pd.read_csv(f"{inpath}/{c}_mean_popweighted.csv") for c in cols]
dfs = reduce(lambda x, y: pd.merge(x, y, on = 'GID_1'), dfs)
dfs.to_csv(f"{inpath}/gadm1_popweighted.csv", index = False)

In [20]:
dfs

,GID_1,t2m_1998_2018_max3_pop_mean,t2m_Avg_1998_2018_pop_mean,t2m_2008_2018_max3_pop_mean,t2m_Avg_2008_2018_pop_mean,t2m_1994_2014_max3_pop_mean,t2m_Avg_1994_2014_pop_mean
0,AFG.1_1,16.300806,4.806813,16.576187,5.084758,15.949899,4.426816
1,AFG.2_1,22.319508,11.891557,22.781633,12.101844,22.062420,11.591336
2,AFG.3_1,21.904463,10.907340,22.075661,11.049294,21.522558,10.472997
3,AFG.4_1,28.319477,16.817507,28.551853,16.888760,28.110586,16.560560
4,AFG.5_1,13.187573,1.156556,13.248713,1.142758,12.985700,0.914253
...,...,...,...,...,...,...,...
3605,ZWE.6_1,24.413267,21.193567,24.690687,21.352455,24.333332,21.123974
3606,ZWE.7_1,24.690609,21.212187,24.874716,21.467167,24.526571,21.066053
3607,ZWE.8_1,25.415670,21.944431,25.598915,22.079290,25.360188,21.877876
3608,ZWE.9_1,25.013626,21.237770,25.144106,21.422998,24.885050,21.104868
3609,ZWE.10_1,24.394333,20.978575,24.638643,21.177717,24.292381,20.887836

In [ ]:
####### Old

In [49]:

res1 = [r.to_dataframe().reset_index() for r in results]
temp1 = pd.concat(res1)
temp1 = temp1.groupby(['lon', 'lat'])[['t2m', 't2m_sq']].mean()

In [33]:
temp2 = pd.concat(res1[10:])
temp2 = temp2.groupby(['lon', 'lat'])[['t2m', 't2m_sq']].mean()
df_final = temp1.merge(temp2, left_index = True, right_index = True)
df_final.columns = [['t2m_1998_2018', 't2m_sq_1998_2018', 't2m_2008_2018', 't2m_sq_2008_2018']]
df_final.reset_index().to_csv("/data/climate_migration/data/era5/monthly/temperature_new.csv", index = False)

In [169]:
t = pd.read_csv("/data/climate_migration/data/master/climate_master_monthly_v3.csv")

In [107]:
(- 0.150058 * (27) +  0.002991 * (27)**2  ) - (- 0.150058 * (25) +  0.002991 *(25)**2  )

0.010947999999999736

In [46]:
res1[0]

            lon    lat        t2m       t2m_sq  year
0       -180.00  90.00 -20.225180   426.420654  1998
1       -180.00  89.75 -20.383856   433.524170  1998
2       -180.00  89.50 -20.479660   437.633636  1998
3       -180.00  89.25 -20.515518   439.010376  1998
4       -180.00  89.00 -20.593094   442.241119  1998
...         ...    ...        ...          ...   ...
1038235  179.75 -89.00 -39.067883  1606.090820  1998
1038236  179.75 -89.25 -38.956211  1603.431763  1998
1038237  179.75 -89.50 -38.767548  1591.859375  1998
1038238  179.75 -89.75 -38.474274  1573.413696  1998
1038239  179.75 -90.00 -38.213909  1554.646484  1998

[1038240 rows x 5 columns]

In [26]:
-0.075938 * -0.075938

0.005766579844000001

In [34]:
x =1
res1[x][res1[x].lon==-180]

       lon    lat        t2m       t2m_sq  year
0   -180.0  90.00  -0.075938     0.298058  1999
1   -180.0  89.75  -0.074178     0.291435  1999
2   -180.0  89.50  -0.065948     0.268223  1999
3   -180.0  89.25  -0.045380     0.242462  1999
4   -180.0  89.00  -0.044200     0.227938  1999
..     ...    ...        ...          ...   ...
716 -180.0 -89.00 -31.543142  1011.805176  1999
717 -180.0 -89.25 -31.431473  1006.544617  1999
718 -180.0 -89.50 -31.332733  1002.191956  1999
719 -180.0 -89.75 -31.126434   991.072083  1999
720 -180.0 -90.00 -30.973043   983.020081  1999

[721 rows x 5 columns]

In [35]:
df_clim.sel(year = 1999).to_dataframe().loc[-180][:20]

                 time        t2m      t2m_sq
lat   year
90.00 1999 1999-01-01 -25.822739  666.813843
      1999 1999-02-01 -27.196274  739.637329
      1999 1999-03-01 -25.501831  650.343384
      1999 1999-04-01 -21.157318  447.632111
      1999 1999-05-01  -7.966827   63.470337
      1999 1999-06-01  -0.316315    0.100055
      1999 1999-07-01   0.672821    0.452688
      1999 1999-08-01  -0.584320    0.341430
      1999 1999-09-01  -6.663818   44.406475
      1999 1999-10-01 -13.344574  178.077652
      1999 1999-11-01 -19.080276  364.056946
      1999 1999-12-01 -20.118790  404.765686
89.75 1999 1999-01-01 -26.097794  681.094849
      1999 1999-02-01 -27.335571  747.233459
      1999 1999-03-01 -25.741638  662.631958
      1999 1999-04-01 -21.155548  447.557220
      1999 1999-05-01  -8.143158   66.311020
      1999 1999-06-01  -0.335724    0.112711
      1999 1999-07-01   0.671082    0.450350
      1999 1999-08-01  -0.557892    0.311243

In [42]:
((-0.316315)**2  + (0.672821)**2 + (-0.584320)**2)/3

0.298057713222

In [43]:
((-0.316315 + 0.672821 + -0.584320)/3)* -0.07593799999999999

0.005766579843999998

In [23]:
temp1.loc[-180]

              t2m       t2m_sq
lat
-90.00 -30.334499   943.949890
-89.75 -30.633125   961.874390
-89.50 -31.033989   985.877258
-89.25 -31.334642  1003.955444
-89.00 -31.656252  1023.380249
...           ...          ...
 89.00  -0.882513    22.429497
 89.25  -0.864588    22.276646
 89.50  -0.876426    22.212246
 89.75  -0.871461    22.013407
 90.00  -0.855946    21.664272

[721 rows x 2 columns]

In [16]:
res1

[            lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00 -20.225180   426.420654  1998
 1       -180.00  89.75 -20.383856   433.524170  1998
 2       -180.00  89.50 -20.479660   437.633636  1998
 3       -180.00  89.25 -20.515518   439.010376  1998
 4       -180.00  89.00 -20.593094   442.241119  1998
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -39.067883  1606.090820  1998
 1038236  179.75 -89.25 -38.956211  1603.431763  1998
 1038237  179.75 -89.50 -38.767548  1591.859375  1998
 1038238  179.75 -89.75 -38.474274  1573.413696  1998
 1038239  179.75 -90.00 -38.213909  1554.646484  1998

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00  -0.075938     0.298058  1999
 1       -180.00  89.75  -0.074178     0.291435  1999
 2       -180.00  89.50  -0.065948     0.268223  1999
 3       -180.00  89.25  -0.045380     0.242462  1999
 4       -180.00  89.00  -0.044200     0.227938  1999
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.547846  1012.095703  1999
 1038236  179.75 -89.25 -31.437937  1006.944397  1999
 1038237  179.75 -89.50 -31.336847  1002.448975  1999
 1038238  179.75 -89.75 -31.128199   991.181946  1999
 1038239  179.75 -90.00 -30.973043   983.020081  1999

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00  -0.053009    0.301972  2000
 1       -180.00  89.75  -0.053599    0.299530  2000
 2       -180.00  89.50  -0.053009    0.295772  2000
 3       -180.00  89.25  -0.031281    0.287942  2000
 4       -180.00  89.00  -0.027740    0.280498  2000
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -31.341547  986.135071  2000
 1038236  179.75 -89.25 -30.900162  958.738525  2000
 1038237  179.75 -89.50 -30.515787  935.260437  2000
 1038238  179.75 -89.75 -30.009155  904.626953  2000
 1038239  179.75 -90.00 -29.643591  882.957092  2000

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00  -0.139414    0.262086  2001
 1       -180.00  89.75  -0.138245    0.255646  2001
 2       -180.00  89.50  -0.135305    0.246798  2001
 3       -180.00  89.25  -0.122355    0.237239  2001
 4       -180.00  89.00  -0.135295    0.244030  2001
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -30.338877  928.202087  2001
 1038236  179.75 -89.25 -29.975662  906.362305  2001
 1038237  179.75 -89.50 -29.662394  887.785950  2001
 1038238  179.75 -89.75 -29.248041  863.581360  2001
 1038239  179.75 -90.00 -28.968287  847.584656  2001

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.391317     0.270998  2002
 1       -180.00  89.75   0.380147     0.255212  2002
 2       -180.00  89.50   0.375448     0.253362  2002
 3       -180.00  89.25   0.383077     0.260713  2002
 4       -180.00  89.00   0.347809     0.240041  2002
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.622488  1012.593445  2002
 1038236  179.75 -89.25 -31.419128  1001.761475  2002
 1038237  179.75 -89.50 -31.249857   993.392334  2002
 1038238  179.75 -89.75 -30.955408   977.147217  2002
 1038239  179.75 -90.00 -30.815527   970.429138  2002

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.181488     0.166332  2003
 1       -180.00  89.75   0.169739     0.175142  2003
 2       -180.00  89.50   0.166209     0.176857  2003
 3       -180.00  89.25   0.177958     0.186759  2003
 4       -180.00  89.00   0.150920     0.188704  2003
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -32.038593  1052.670532  2003
 1038236  179.75 -89.25 -31.558420  1021.375671  2003
 1038237  179.75 -89.50 -31.094702   991.634766  2003
 1038238  179.75 -89.75 -30.545755   957.275574  2003
 1038239  179.75 -90.00 -30.093210   929.014832  2003

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.290222     0.231628  2004
 1       -180.00  89.75   0.277883     0.220376  2004
 2       -180.00  89.50   0.296102     0.223382  2004
 3       -180.00  89.25   0.331950     0.236413  2004
 4       -180.00  89.00   0.316671     0.217119  2004
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.808798  1032.726685  2004
 1038236  179.75 -89.25 -31.360352  1004.582458  2004
 1038237  179.75 -89.50 -30.946009   978.706970  2004
 1038238  179.75 -89.75 -30.476995   950.349854  2004
 1038239  179.75 -90.00 -30.042664   924.077942  2004

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00   0.325480    0.462227  2005
 1       -180.00  89.75   0.306091    0.437791  2005
 2       -180.00  89.50   0.317261    0.436485  2005
 3       -180.00  89.25   0.333120    0.429607  2005
 4       -180.00  89.00   0.318431    0.416823  2005
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -30.886642  980.877747  2005
 1038236  179.75 -89.25 -30.592194  963.773682  2005
 1038237  179.75 -89.50 -30.272467  945.401062  2005
 1038238  179.75 -89.75 -29.858109  921.413757  2005
 1038239  179.75 -90.00 -29.503708  901.009705  2005

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00  -0.255778     1.362969  2006
 1       -180.00  89.75  -0.265778     1.379000  2006
 2       -180.00  89.50  -0.272237     1.380808  2006
 3       -180.00  89.25  -0.256958     1.345821  2006
 4       -180.00  89.00  -0.256958     1.319040  2006
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -32.045650  1042.624878  2006
 1038236  179.75 -89.25 -31.650110  1017.711731  2006
 1038237  179.75 -89.50 -31.291000   995.150818  2006
 1038238  179.75 -89.75 -30.859610   968.208801  2006
 1038239  179.75 -90.00 -30.504614   945.500305  2006

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.286112     0.213602  2007
 1       -180.00  89.75   0.265533     0.211799  2007
 2       -180.00  89.50   0.250254     0.205114  2007
 3       -180.00  89.25   0.247325     0.204463  2007
 4       -180.00  89.00   0.216176     0.198392  2007
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.507294  1008.214355  2007
 1038236  179.75 -89.25 -31.259851   993.625916  2007
 1038237  179.75 -89.50 -31.058847   982.281250  2007
 1038238  179.75 -89.75 -30.759109   964.847961  2007
 1038239  179.75 -90.00 -30.546936   952.525085  2007

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.182078     0.197745  2008
 1       -180.00  89.75   0.159749     0.180018  2008
 2       -180.00  89.50   0.164449     0.177996  2008
 3       -180.00  89.25   0.182658     0.181676  2008
 4       -180.00  89.00   0.173269     0.177421  2008
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -32.321304  1059.556274  2008
 1038236  179.75 -89.25 -32.060932  1043.636841  2008
 1038237  179.75 -89.50 -31.824076  1029.188110  2008
 1038238  179.75 -89.75 -31.457336  1006.743652  2008
 1038239  179.75 -90.00 -31.203436   991.252014  2008

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00   0.324900    0.238402  2009
 1       -180.00  89.75   0.304911    0.239115  2009
 2       -180.00  89.50   0.295522    0.242422  2009
 3       -180.00  89.25   0.306681    0.245805  2009
 4       -180.00  89.00   0.292562    0.243608  2009
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -30.872543  966.902893  2009
 1038236  179.75 -89.25 -30.523422  945.798157  2009
 1038237  179.75 -89.50 -30.202524  926.658142  2009
 1038238  179.75 -89.75 -29.764074  900.694641  2009
 1038239  179.75 -90.00 -29.454336  882.156799  2009

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00   0.396596    0.184973  2010
 1       -180.00  89.75   0.397196    0.189523  2010
 2       -180.00  89.50   0.380137    0.174874  2010
 3       -180.00  89.25   0.375437    0.169329  2010
 4       -180.00  89.00   0.356049    0.156128  2010
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -30.750875  964.463562  2010
 1038236  179.75 -89.25 -30.348867  941.190369  2010
 1038237  179.75 -89.50 -29.994467  921.279602  2010
 1038238  179.75 -89.75 -29.541910  895.480896  2010
 1038239  179.75 -90.00 -29.218069  877.271423  2010

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00   0.159149    0.454657  2011
 1       -180.00  89.75   0.184428    0.394171  2011
 2       -180.00  89.50   0.207357    0.353978  2011
 3       -180.00  89.25   0.248494    0.316154  2011
 4       -180.00  89.00   0.275523    0.283943  2011
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -29.924524  908.262207  2011
 1038236  179.75 -89.25 -29.640650  890.839905  2011
 1038237  179.75 -89.50 -29.357950  873.800964  2011
 1038238  179.75 -89.75 -28.961233  850.122742  2011
 1038239  179.75 -90.00 -28.667953  832.348450  2011

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00   0.457133    0.331884  2012
 1       -180.00  89.75   0.455373    0.334107  2012
 2       -180.00  89.50   0.455963    0.328173  2012
 3       -180.00  89.25   0.471242    0.336395  2012
 4       -180.00  89.00   0.460073    0.328365  2012
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -31.386805  999.043152  2012
 1038236  179.75 -89.25 -30.873123  967.232178  2012
 1038237  179.75 -89.50 -30.406464  938.802063  2012
 1038238  179.75 -89.75 -29.874567  906.630798  2012
 1038239  179.75 -90.00 -29.470205  882.435730  2012

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00  -0.248728    0.712929  2013
 1       -180.00  89.75  -0.269887    0.696560  2013
 2       -180.00  89.50  -0.275757    0.689257  2013
 3       -180.00  89.25  -0.273427    0.677486  2013
 4       -180.00  89.00  -0.308095    0.701057  2013
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -30.344751  933.473145  2013
 1038236  179.75 -89.25 -29.980362  910.536682  2013
 1038237  179.75 -89.50 -29.620081  888.529724  2013
 1038238  179.75 -89.75 -29.182215  862.221008  2013
 1038239  179.75 -90.00 -28.852503  842.555481  2013

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.129181     0.253642  2014
 1       -180.00  89.75   0.118022     0.261916  2014
 2       -180.00  89.50   0.120361     0.261045  2014
 3       -180.00  89.25   0.124481     0.267759  2014
 4       -180.00  89.00   0.105082     0.277260  2014
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.847586  1032.156250  2014
 1038236  179.75 -89.25 -31.453812  1007.891357  2014
 1038237  179.75 -89.50 -31.048269   982.832947  2014
 1038238  179.75 -89.75 -30.547525   952.421631  2014
 1038239  179.75 -90.00 -30.133759   927.277771  2014

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.330180     0.345213  2015
 1       -180.00  89.75   0.317841     0.357354  2015
 2       -180.00  89.50   0.308451     0.340924  2015
 3       -180.00  89.25   0.325480     0.334970  2015
 4       -180.00  89.00   0.306671     0.315138  2015
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.508469  1001.132141  2015
 1038236  179.75 -89.25 -31.170523   979.647766  2015
 1038237  179.75 -89.50 -30.883703   961.612488  2015
 1038238  179.75 -89.75 -30.472879   936.161438  2015
 1038239  179.75 -90.00 -30.190765   918.859192  2015

 [1038240 rows x 5 columns],
             lon    lat        t2m      t2m_sq  year
 0       -180.00  90.00   0.108612    0.276536  2016
 1       -180.00  89.75   0.106252    0.274687  2016
 2       -180.00  89.50   0.103322    0.269090  2016
 3       -180.00  89.25   0.116831    0.263264  2016
 4       -180.00  89.00   0.089803    0.245585  2016
 ...         ...    ...        ...         ...   ...
 1038235  179.75 -89.00 -30.432327  936.854431  2016
 1038236  179.75 -89.25 -30.236023  924.420593  2016
 1038237  179.75 -89.50 -30.048538  912.799072  2016
 1038238  179.75 -89.75 -29.748205  894.671875  2016
 1038239  179.75 -90.00 -29.591867  885.159485  2016

 [1038240 rows x 5 columns],
             lon    lat        t2m       t2m_sq  year
 0       -180.00  90.00   0.316671     0.298932  2017
 1       -180.00  89.75   0.313151     0.290585  2017
 2       -180.00  89.50   0.312561     0.286737  2017
 3       -180.00  89.25   0.328420     0.298291  2017
 4       -180.00  89.00   0.306091     0.287716  2017
 ...         ...    ...        ...          ...   ...
 1038235  179.75 -89.00 -31.674789  1012.763977  2017
 1038236  179.75 -89.25 -31.410315   996.786316  2017
 1038237  179.75 -89.50 -31.175222   982.902893  2017
 1038238  179.75 -89.75 -30.832571   962.431702  2017
 1038239  179.75 -90.00 -30.601593   948.915771  2017

 [1038240 rows x 5 columns]]